/*socialed-style.css */
/* Own stylesheet for SocialED */

body{
    background-color: #F0F0F0;
}

#container {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    padding-left: 20px;
    font-color: #2A2929; /* dark grey */
    margin: 10px;
}
a{
    color: #1E1E1E;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding: 5px;
    position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

a:link{
    color: #1E1E1E;
}

a:visited {
  color: #1E1E1E;
}

h1 {
    color: #2A2929;
    font-size:20pt;
}
form {
    background-color: F2F2F2;
    width: 80%;
    margin: auto;
    width: 50%;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}
label {
    color: #303030;
    text-align: left;
    margin-left: 0.5em;
    margin-bottom: -0.5em;
    font-size: 0.85em;
}

.inputs{
    text-align: center;
    margin-top: -0.25em;
}

input[type=text],input[type=password] {
    display: block;
    border: none;
    border-bottom: 2px solid #6b6b6b;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:transparent;
    color: #1A1A1A;
    font-size: 1.05em;
}
input[type=submit] {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
    margin: 1em auto;
}

input:focus {
    outline: none;
}